/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

:root {
  --background: #FFF;
  --color-text: #444;
  --color-heading: #111;
  --color-light: #aaa;
  --font-family: Roboto, sans-serif;
  --color-primary-1: #00B0D8;
  --color-primary-2: #AEDFE4;
  --color-secondary: #EF4136;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  color: #444;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #FFF,
    #EEE
  );
  margin: 0;
  font-family: var(--font-family);
  overflow-y: hidden;
}

li {
  list-style: none;
}


h1, h2, h3, h4 {
  color: var(--color-heading);
  margin-bottom: 0.25rem;
}

button {
  background-color: var(--color-primary-2);
  color: var(--color-heading);
  border: 1px solid var(--color-primary-1);
  padding: 0.5rem 1rem;
  font-size: inherit;
  border-radius: 0.5rem;
}

button:active {
  background-color: var(--color-primary-1);
}

select {
  padding: 0.5rem;
  font-size: inherit;
  border-radius: 0.5rem;
}
